<div class="container-fluid">
  <div class="container xd-container">
    <h2>
      New Devise
    </h2>
    <form [formGroup]="deviseForm" class="form-horizontal">

      <div class="form-group has-feedback">
        <label for="borderaux" class="col-sm-2 control-label">Borderaux</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="borderaux" formControlName="borderaux" required name="borderaux" />

        </div>
      </div>
      <div class="form-group has-feedback">
        <label for="date" class="col-sm-2 control-label">Date</label>
        <div class="col-sm-10">
          <input type="date" class="form-control" id="date" formControlName="date" required name="date" />

        </div>
      </div>
      <div class="form-group has-feedback">
        <label for="montantTransfer" class="col-sm-2 control-label">MontantTransfer</label>
        <div class="col-sm-10">
          <input type="number" class="form-control" id="montantTransfer" formControlName="montantTransfer" required name="montantTransfer" />

        </div>
      </div>
      <div class="form-group has-feedback">
        <label for="montantTransfer" class="col-sm-2 control-label">Frais</label>
        <div class="col-sm-10">
          <input type="number" class="form-control" id="frais" formControlName="frais" required name="frais" />

        </div>
      </div>
      
     
      <div class="form-group has-feedback">
        <label for="borderaux" class="col-sm-2 control-label">QualiteClient</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="qualiteClient" formControlName="qualiteClient" required name="qualiteClient" />

        </div>
      </div>
      <div class="form-group has-feedback">
        <label for="frais" class="col-sm-2 control-label">User</label>
        <div class="col-sm-10">
          <mat-form-field>
            <mat-label>Users</mat-label>
            <mat-select formControlName="user">
              <mat-option *ngFor="let user of users" [value]="user">
                {{user.firstName}} {{user.lastName}}
              </mat-option>
            </mat-select>
          </mat-form-field>

        </div>
      </div>
   


      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <button class="btn btn-default" type="button" (click)="gotoInList()">Back</button>
          <button class="btn btn-default" (click)="onSubmit()">Save</button>
        </div>
      </div>
    </form>

  </div>
</div>